<header>
  <h1>Save any kind of movies</h1>
</header>

<div class="container">

  <div class="row">
    <div class="col-12 col-sm-9">
      <h2>My lists</h2>

      <div class="d-flex justify-content-around">
        <% @lists.each do |list| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag "janos-venczak-EmDe2QylecI-unsplash.jpg", :class => "card-img-top" %>
            <div class="card-body">
              <p class="card-text"><%= link_to list.name, list_path(list) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-sm-3">
      <button type="button" class="btn btn-success"><%= link_to "Create a movie list", new_list_path %>
      </button>
    </div>
  </div>
</div>
