
<h1>My lists</h1>

<% @lists.each do |list| %>
  <h2><%= link_to list.name, list_path(list) %></h2>
<% end %>

<hr>
<button type="button" name="button"><%= link_to "Create a movie list", new_list_path %>
</button>
